<a href="https://colab.research.google.com/github/EANimesha/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [38]:
url = 'http://zims-en.kiwix.campusafrica.gos.orange.com/wikipedia_en_all_nopic/A/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url,header=[0])
df = table[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [39]:
#rename headers - The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df = df.rename(index=str, columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'})
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [40]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df= df[df.Borough !='Not assigned']
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [41]:
#combined into one row with the neighborhoods separated with a comma 
df = df.groupby('PostalCode',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Malvern,Rouge
1        M1C  Scarborough  Rouge Hill,Highland Creek,Port Union
2        M1E  Scarborough       Morningside,West Hill,Guildwood
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [42]:
#If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough
df.loc[df.Neighborhood == 'Not assigned', 'Neighborhood'] = df['Borough']
df.iloc[85]

PostalCode               M7A
Borough         Queen's Park
Neighborhood    Queen's Park
Name: 85, dtype: object

**What I have done so far on the data cleaning above?**


1.   Import and scrap wikipage using pandas.
2.   The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.
3. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
4. The rows of same PostalCode and Borough will be combined into one row with the neighborhoods separated with a comma.
5. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [45]:
df.shape

(103, 3)