<a href="https://colab.research.google.com/github/EANimesha/Coursera_Capstone/blob/main/Segmenting_and_Clustering_Neighborhoods_in_Toronto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Segmenting and Clustering Neighborhoods in Toronto - Part 2

In [1]:
import pandas as pd

### getting df from first task

In [9]:

url = 'http://zims-en.kiwix.campusafrica.gos.orange.com/wikipedia_en_all_nopic/A/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url,header=[0])
df = table[0]

#rename headers - The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df = df.rename(index=str, columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'})

#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df= df[df.Borough !='Not assigned']

#combined into one row with the neighborhoods separated with a comma 
df = df.groupby('PostalCode',as_index=False).agg(lambda x: ','.join(set(x.dropna())))

#If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough
df.loc[df.Neighborhood == 'Not assigned', 'Neighborhood'] = df['Borough']

df.head()
# df.shape

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Malvern,Rouge
1        M1C  Scarborough  Rouge Hill,Highland Creek,Port Union
2        M1E  Scarborough       West Hill,Morningside,Guildwood
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

### Part 2

In [5]:
# Read geoSpatial csv file

gs_data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv',header=[0])
gs_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
# rename columns 
gs_data = gs_data.rename(index=str, columns={'Postal Code':'PostalCode'})
gs_data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [12]:
# Merge 2 dataframes
df_new = pd.merge(left=df,right=gs_data,on='PostalCode')
df_new.head()

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]